<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/favicon.ico}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
    <script type="module" crossorigin th:src="@{/assets/index.e09acb93.js}"></script>
    <link rel="modulepreload" th:href="@{/assets/vendor.7d66d244.js}">
    <link rel="stylesheet" th:href="@{/assets/index.585a031a.css}">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
